@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    @apply text-neutral-800 bg-white;
  }
}

@theme {
  --color-primary: #002b5b;
  --color-primary-light: #1f4e79;
  --color-accent: #ff8c00;
  --color-accent-hover: #e07b00;

  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;
}
